cloudnative-pg:
  replicaCount: 1
  
  config:
    enablePodMonitor: true

  # resources:
  #   limits:
  #     cpu: 200m
  #     memory: 256Mi
  #   requests:
  #     cpu: 100m
  #     memory: 128Mi

  namespace: resources-system

  highAvailability:
    enabled: true

  podDisruptionBudget:
    enabled: true
    minAvailable: 1

  securityContext:
    runAsNonRoot: true
    runAsUser: 65534

  serviceAccount:
    create: true

pooler:
  enabled: true
  
  replicas: 2
  
  poolMode: "transaction"
  
  # resources:
  #   limits:
  #     cpu: 200m
  #     memory: 256Mi
  #   requests:
  #     cpu: 100m
  #     memory: 128Mi
  
  pgBouncer:
    maxClientConnections: 100
    
    defaultPoolSize: 20
    
    parameters:
      client_idle_timeout: "300"
      server_idle_timeout: "300"
      auth_timeout: "5"
  
  auth:
    type: "scram-sha-256"
  
  template:
    podAnnotations: {}
    
    podLabels: {}
    
    serviceAnnotations: {}
    
    serviceLabels: {}
  
  # monitoring:
  #   enablePodMonitor: true
