apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: azure-workload-identity
spec:
  deploymentTemplate:
    spec:
      template:
        metadata:
          labels:
            azure.workload.identity/use: "true"
  serviceAccountTemplate:
    metadata:
      annotations:
        azure.workload.identity/client-id: "1748d337-145b-4880-8e75-222bbff354e4"
